<!--=== Video Start ======-->
<section class="pt-0 pb-0 bg-video">
  <div class="hero-text-wrap overlay-bg">
    <div class="hero-text white-color">
      <div class="container text-center">
        <h2 class="white-color text-uppercase font-400 letter-spacing-5">Arcon</h2>
        <h1 class="white-color text-uppercase font-700">Startup Business</h1>
        <h3 class="white-color font-400 text-uppercase">We aren't afraid to be different</h3>
        <p class="text-center mt-30"><a class="btn btn-dark btn-circle btn-animate"><span>Start a Project <i class="mdi mdi-arrow-right"></i></span></a> </p>
      </div>
    </div>
  </div>
  <div class="homepage-hero-module">
    <div class="video-container">
      <div class="filter"></div>
      <video autoplay loop class="fillWidth">
        <source src="assets/images/video/alpha-video.mp4" type="video/mp4" />
        <source src="assets/images/video/alpha-video.webm" type="video/webm" />
      </video>
      <div class="poster hidden"> <img src="assets/images/video/alpha-video.jpg" alt="video-img"> </div>
    </div>
  </div>
</section>
<!--=== Video End ======-->

<!--=== Welcome Start ======-->
<section class="first-ico-box">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 section-heading">
        <h2 class="wow fadeTop" data-wow-delay="0.1s">Who We Are</h2>
        <h4 class="source-font wow fadeTop" data-wow-delay="0.2s">- The world at your fingertips -</h4>
        <div class="mt-30 wow fadeTop" data-wow-delay="0.3s">
          <p>We’re nuts about improving your business so we ensure that we track results from day one. Sure, we come up with great creative ideas that engage and captivate your customers, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius quam ut magna ultricies pellentesque. </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=== Welcome End ======-->
