<!--=== Header Start ======-->
<nav class="navbar navbar-default navbar-fixed navbar-transparent white bootsnav on no-full">
  <!--=== Start Top Search ===-->
  <div class="fullscreen-search-overlay" id="search-overlay"> <a href="#" class="fullscreen-close" id="fullscreen-close-button"><i class="mdi mdi-close"></i></a>
    <div id="fullscreen-search-wrapper">
      <form method="get" id="fullscreen-searchform">
        <input type="text" value="" placeholder="Type and hit Enter..." id="fullscreen-search-input" class="search-bar-top">
        <i class="mdi mdi-magnify fullscreen-search-icon">
        <input value="" type="submit">
        </i>
      </form>
    </div>
  </div>
  <!--=== End Top Search ===-->

  <div class="container">
    <!--=== Start Atribute Navigation ===-->
    <div class="attr-nav">
      <ul class="social-media-dark social-top">
        <li><a href="#" class="fa fa-facebook"></a></li>
        <li><a href="#" class="fa fa-twitter"></a></li>
        <li><a href="#" class="fa fa-instagram"></a></li>
        <li><a href="#" class="fa mute" data-turbolinks="false"><%= image_tag 'bars.gif', width: '20px' %></a></li>
      </ul>
    </div>
    <!--=== End Atribute Navigation ===-->

    <!--=== Start Header Navigation ===-->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu"> <i class="fa fa-bars"></i> </button>
      <div class="logo"> <a href="index.html"> <img class="logo logo-display" src="<%= asset_path 'baxterandme.png' %>" alt=""> <img class="logo logo-scrolled" src="<%= asset_path 'baxterandme.png' %>" alt=""> </a> </div>
    </div>
    <!--=== End Header Navigation ===-->

    <!--=== Collect the nav links, forms, and other content for toggling ===-->
    <div class="navbar-collapse collapse" id="navbar-menu" aria-expanded="false">
      <ul class="nav navbar-nav navbar-right nav-scrollspy-onepage" data-in="fadeInLeft">
        <li class="scroll"><a href="#home">Home</a></li>
        <li class="scroll"><a href="#about">About</a></li>

        <li class="scroll"><a href="#contact">Contact Us</a></li>
      </ul>
    </div>
    <!--=== /.navbar-collapse ===-->
  </div>
</nav>
<!--=== Header End ======<--></-->
