<nav class="navbar navbar-default navbar-fixed navbar-transparent white bootsnav on no-full">
  <div class="container">
    <div class="attr-nav">
      <ul class="social-media-dark social-top">
        <li><a href="https://www.facebook.com/BaxterandMe/" class="fa fa-facebook" target="_blank"></a></li>
        <!-- <li><a href="#" class="fa fa-twitter" target="_blank"></a></li> -->
        <li><a href="https://www.instagram.com/gillarooney/" class="fa fa-instagram" target="_blank"></a></li>
        <li><button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu"> <i class="fa fa-bars"></i> </button></li>
      </ul>
    </div>

    <div class="navbar-header">
      <div class="logo"> <a href="/"> <img class="logo logo-display" src="<%= asset_path 'baxterandme.png' %>" alt=""> <img class="logo logo-scrolled" src="<%= asset_path 'baxterandme2.png' %>" alt=""> </a> </div>
    </div>

    <div class="navbar-collapse collapse" id="navbar-menu" aria-expanded="false">
      <ul class="nav navbar-nav navbar-right nav-scrollspy-onepage" data-in="fadeInLeft">
        <li class="scroll" ><a id="nav-hero" data-turbolinks="false">Home</a></li>
        <li><a href="/about" data-turbolinks="false">About</a></li>
        <li class="scroll" ><a id="nav-watch" data-turbolinks="false">Watch</a></li>
        <!-- <li class="scroll"><a href="#contact">Contact Us</a></li> -->
      </ul>
    </div>
  </div>
</nav>
