@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import "master";

// html {
//   position: relative;
//   min-height: 100%;
// }
// body {
//   background-color: #fff;
//   padding-top: 70px;
//   color: #000;
//   /* Margin bottom by footer height */
//   margin-bottom: 60px;
// }
//
//
// .footer {
//   position: absolute;
//   bottom: 0;
//   width: 100%;
//   /* Set the fixed height of the footer here */
//   height: 60px;
//   line-height: 60px; /* Vertically center the text there */
//   background-color: #f5f5f5;
// }

.parallax-bg-4 {
    background: url(../images/background/parallax-bg-4.jpg) center 0 no-repeat;
    background-size: cover;
}

.hero-text {
    padding-top: 80px;
}

ul.social-media-dark li:last-child {
    margin-right: -14px;
}

@media (max-width: 992px) {
  nav.navbar.bootsnav .navbar-toggle {
      display: inline-block;
      float: left;
      margin-right: 13px;
      margin-top: 12.5px;
  }
}
